.ona{
    width: 100%;
    margin-bottom: 50px;
}
.car{
    width: 100%;
    height: 500px;
    box-sizing: border-box;
}
.imgCarousel{
    width: 500px;
    height: 500px;
}

.ona ul {
    display: none
}
.ona p{
    display: none;
}