/* googl fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.flex{
    display: flex;
}
li{
    list-style: none;
    text-decoration: none;
}
.icon{
    font-size: 16px;
}